<a href="https://colab.research.google.com/github/momohirata/mooc_machine_learning/blob/master/mooc_machine_learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!pip install -q PyGitHub

from github import Github, GithubException
import nbformat

access_token = 'bb893c29cd7df22f87a926a6266d1244132a3a8c'

repository_name = 'mooc_machine_learning' 
ipynb_file_name = 'mooc_machine_learning2.ipynb'

     |████████████████████████████████| 112kB 5.1MB/s
  Building wheel for PyGitHub (setup.py) ... done

In [0]:
github = Github(access_token)
user = github.get_user()

try:
  user.create_repo(repository_name)
except GithubException:
  print(f'{mooc_machine_learning} already exists on this account.')

# Python言語によるデータ分析の基礎

### **pandasを使った統計値の分析**

In [8]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['target'] = pd.Series(iris.target)
df_iris

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [9]:
df_iris.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [10]:
# target=0でfilter
df_setosa = df_iris[df_iris.target == 0]

# filterした結果の統計値を確認
df_setosa.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
count           50.00000         50.000000  ...         50.000000    50.0
mean             5.00600          3.428000  ...          0.246000     0.0
std              0.35249          0.379064  ...          0.105386     0.0
min              4.30000          2.300000  ...          0.100000     0.0
25%              4.80000          3.200000  ...          0.200000     0.0
50%              5.00000          3.400000  ...          0.200000     0.0
75%              5.20000          3.675000  ...          0.300000     0.0
max              5.80000          4.400000  ...          0.600000     0.0

[8 rows x 5 columns]