<a href="https://colab.research.google.com/github/momohirata/mooc_machine_learning/blob/master/mooc_machine_learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2回 Python言語によるデータ分析の基礎

### **pandasを使った統計値の分析**

In [1]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['target'] = pd.Series(iris.target)
df_iris

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [2]:
df_iris.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [3]:
# target=0でfilter
df_setosa = df_iris[df_iris.target == 0]

# filterした結果の統計値を確認
df_setosa.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
count           50.00000         50.000000  ...         50.000000    50.0
mean             5.00600          3.428000  ...          0.246000     0.0
std              0.35249          0.379064  ...          0.105386     0.0
min              4.30000          2.300000  ...          0.100000     0.0
25%              4.80000          3.200000  ...          0.200000     0.0
50%              5.00000          3.400000  ...          0.200000     0.0
75%              5.20000          3.675000  ...          0.300000     0.0
max              5.80000          4.400000  ...          0.600000     0.0

[8 rows x 5 columns]

### **pandasを使ったCSVの読み込み**

Google Drive上のcsvファイルにpandasでアクセスする方法
https://qiita.com/illumination-k/items/d6c086554ca38369a61f

In [40]:
url = 'https://drive.google.com/uc?id=1jX6pzJSL3J-2HSBNxMRYhgvhPtENv6e0'

df = pd.read_csv(url)

#csv dataを表示する
df[:5]

  Prefecture  Year     Total       Man     Woman
0         全国  1920  55963053  28044185  27918868
1        北海道  1920   2359183   1244322   1114861
2        青森県  1920    756454    381293    375161
3        岩手県  1920    845540    421069    424471
4        宮城県  1920    961768    485309    476459

In [41]:
# 北海道に絞り込んで、1920年の総人口のみを表示
df_hokkaido = df[df.Prefecture == '北海道']
print(df_hokkaido[df.Year == 1920])

  Prefecture  Year    Total      Man    Woman
1        北海道  1920  2359183  1244322  1114861

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### Pandasを使ってグラフを書く

In [0]:
#欠損値を含む列、行を削除する
df = df.dropna(axis=1)

In [47]:
#dfの型を変換
df = df.astype({'Year': int, 'Total': int, 'Man': int, 'Woman': int})
#, 'Total': int, 'Man': int, 'Woman': int

df[df.Prefecture == '東京都'].plot(x='Year')
plt.ylabel('Population')
plt.show()

ValueError: ignored