<a href="https://colab.research.google.com/github/momohirata/mooc_machine_learning/blob/master/mooc_machine_learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2回 Python言語によるデータ分析の基礎

### **pandasを使った統計値の分析**

In [1]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['target'] = pd.Series(iris.target)
df_iris

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [2]:
df_iris.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [3]:
# target=0でfilter
df_setosa = df_iris[df_iris.target == 0]

# filterした結果の統計値を確認
df_setosa.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
count           50.00000         50.000000  ...         50.000000    50.0
mean             5.00600          3.428000  ...          0.246000     0.0
std              0.35249          0.379064  ...          0.105386     0.0
min              4.30000          2.300000  ...          0.100000     0.0
25%              4.80000          3.200000  ...          0.200000     0.0
50%              5.00000          3.400000  ...          0.200000     0.0
75%              5.20000          3.675000  ...          0.300000     0.0
max              5.80000          4.400000  ...          0.600000     0.0

[8 rows x 5 columns]

### **pandasを使ったCSVの読み込み**

In [12]:
url = 'https://drive.google.com/uc?id=1KuJ1u_3Odufk-xenridpYfaMknmXfKwV'

col_names = ['都道府県コード','都道府県名','元号','和暦（年）','西暦（年）','注','人口（総数）','人口（男）','人口（女）']
df = pd.read_csv(url, names=col_names)

#csv dataを表示する
df

    都道府県コード  都道府県名  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
0   都道府県コード  都道府県名  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
1         0     全国  大正      9   1920  NaN  55963053  28044185  27918868
2         1    北海道  大正      9   1920  NaN   2359183   1244322   1114861
3         2    青森県  大正      9   1920  NaN    756454    381293    375161
4         3    岩手県  大正      9   1920  NaN    845540    421069    424471
5         4    宮城県  大正      9   1920  NaN    961768    485309    476459
6         5    秋田県  大正      9   1920  NaN    898537    453682    444855
7         6    山形県  大正      9   1920  NaN    968925    478328    490597
8         7    福島県  大正      9   1920  NaN   1362750    673525    689225
9         8    茨城県  大正      9   1920  NaN   1350400    662128    688272
10        9    栃木県  大正      9   1920  NaN   1046479    514255    532224
11       10    群馬県  大正      9   1920  NaN   1052610    514106    538504
12       11    埼玉県  大正      9   1920  NaN   1319533    641161    678372
13       12    千葉県  大正      9   1920  NaN   1336155    656968    679187
14       13    東京都  大正      9   1920  NaN   3699428   1952989   1746439
15       14   神奈川県  大正      9   1920  NaN   1323390    689751    633639
16       15    新潟県  大正      9   1920  NaN   1776474    871532    904942
17       16    富山県  大正      9   1920  NaN    724276    354775    369501
18       17    石川県  大正      9   1920  NaN    747360    364375    382985
19       18    福井県  大正      9   1920  NaN    599155    293181    305974
20       19    山梨県  大正      9   1920  NaN    583453    290817    292636
21       20    長野県  大正      9   1920  NaN   1562722    758639    804083
22       21    岐阜県  大正      9   1920  NaN   1070407    536334    534073
23       22    静岡県  大正      9   1920  NaN   1550387    774169    776218
24       23    愛知県  大正      9   1920  NaN   2089762   1033860   1055902
25       24    三重県  大正      9   1920  NaN   1069270    525957    543313
26       25    滋賀県  大正      9   1920  NaN    651050    313737    337313
27       26    京都府  大正      9   1920  NaN   1287147    650780    636367
28       27    大阪府  大正      9   1920  NaN   2587847   1344846   1243001
29       28    兵庫県  大正      9   1920  NaN   2301799   1175426   1126373
30       29    奈良県  大正      9   1920  NaN    564607    280383    284224
31       30   和歌山県  大正      9   1920  NaN    750411    372058    378353
32       31    鳥取県  大正      9   1920  NaN    454675    222802    231873
33       32    島根県  大正      9   1920  NaN    714712    354959    359753
34       33    岡山県  大正      9   1920  NaN   1217698    605316    612382
35       34    広島県  大正      9   1920  NaN   1541905    775080    766825
36       35    山口県  大正      9   1920  NaN   1041013    521041    519972
37       36    徳島県  大正      9   1920  NaN    670212    331768    338444
38       37    香川県  大正      9   1920  NaN    677852    336195    341657
39       38    愛媛県  大正      9   1920  NaN   1046720    515389    531331
40       39    高知県  大正      9   1920  NaN    670895    332087    338808
41       40    福岡県  大正      9   1920  NaN   2188249   1116818   1071431
42       41    佐賀県  大正      9   1920  NaN    673895    329962    343933
43       42    長崎県  大正      9   1920  NaN   1136182    584234    551948
44       43    熊本県  大正      9   1920  NaN   1233233    602389    630844
45       44    大分県  大正      9   1920  NaN    860282    422708    437574
46       45    宮崎県  大正      9   1920  NaN    651097    326610    324487
47       46   鹿児島県  大正      9   1920  NaN   1415582    682243    733339
48       47    沖縄県  大正      9   1920  NaN    571572    274829    296743